@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
  margin: 0px;
  padding: 0px;
  font-family: "cwTeXYen", sans-serif;
  background-color: gray;
}
.bulletMain {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.bulletWrap {
  width: 1000vw;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-bottom: 10px;
}
p {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}
#inputText {
  top: 60%;
  left: 50%;
  width: 300px;
  padding: 2px;
  margin-left: -150px;
  border: 2px solid black;
  position: fixed;
  text-align: center;
}
#textIntro {
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
}
textarea {
  width: 90%;
  height: 70px;
}
.verySmall {
  font-size: 100%;
}
.small {
  font-size: 150%;
}
.middle {
  font-size: 200%;
}
.large {
  font-size: 300%;
}
.veryLarge {
  font-size: 400%;
}
.chartreuse {
  color: chartreuse;
}
.crimson {
  color: crimson;
}
.yellow {
  color: yellow;
}
.pink {
  color: pink;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.purple {
  color: rgb(160, 4, 160);
}
